
@import "colour";
@import "fonts";
@import "rounded-corner";
@import "edged-panel";
@import "body";
@import "center";

#shas-page
{
  display: inline-flex;
  margin: { top: 10px; }
  width: 100%;
  height: 100%;
  font-size: 20px;
  @include plaintext-font();

  #shas-box {
    display: inline-block;
    @include edged-panel();
    @include center-align();
  }
  #shas td
  {
    padding: { left:0px; right:10px; }
    text-align: right;
  }

  a { color: lighten(Khaki, 10%); }

}
